name: Draft Release

on:
  push:
    branches:
      - "main"

  pull_request:
    branches:
      - "main"
    types:
      - open
      - reopened
      - synchronize

jobs:
  launch:
    uses: madronejs/.github/.github/workflows/draft-release.hml@main
